<aside
  class="d-flex flex-column text-bg-primary vh-100 flex-shrink-0 bg-light" th:fragment="sidebar"
  style="width: 4.5rem"
>
  <a
    href="/products"
    class="d-block p-3 link-dark text-decoration-none"
    title="See public products"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
  >
    <i class="bi bi-ui-checks-grid" style="font-size: 2rem"></i>

    <span class="visually-hidden">Icon-only</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a
        href="/dash"
        class="nav-link active py-3 border-bottom"
        aria-current="page"
        title="Home"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="bi bi-house-fill" style="font-size: 2rem"></i>
      </a>
    </li>
    <li>
      <a
        href="/dash/products"
        class="nav-link py-3 border-bottom"
        title="Products"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i
          class="bi bi-tag-fill"
          style="font-size: 2rem"
          aria-label="Products"
        ></i>
      </a>
    </li>
    <li>
      <a
        href="/dash/customers"
        class="nav-link py-3 border-bottom"
        title="Customers"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i
          class="bi bi-people-fill"
          style="font-size: 2rem"
          aria-label="Customers"
        ></i>
      </a>
    </li>
    <li>
      <a
        href="/dash/orders"
        class="nav-link py-3 border-bottom"
        title="Orders"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i
          class="bi bi-cart-fill"
          style="font-size: 2rem"
          aria-label="Orders"
        ></i>
      </a>
    </li>
  </ul>
  <div class="dropdown border-top">
    <a
      href="#"
      class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
      id="dropdownUser3"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt="mdo"
        width="24"
        height="24"
        class="rounded-circle"
      />
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</aside>
