<!DOCTYPE html>
<html lang="en" xmins:th="http://www.thymeleaf.org">
<head th:insert="layouts/head"/>
<body>
<section class="d-flex vh-100 align-items-center py-4 bg-body-tertiary">
    <aside th:insert="layouts/sidebar"></aside>
    <main class="container mt-5">
        <form>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                <label for="nombre">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="file" class="form-control" id="imagen">
                <label for="imagen">Imagen</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="precio" placeholder="Ingrese el precio">
                <label for="precio">Precio</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="descripcion" rows="3" placeholder="Ingrese una descripción"></textarea>
                <label for="descripcion">Descripción</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad">
                <label for="cantidad">Cantidad</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </main>
</section>
</body>
</html>
