<!DOCTYPE html>
<html lang="en" xmins:th="http://www.thymeleaf.org">
  <head th:insert="layouts/head" />
  <body>
    <section class="d-flex vh-100 align-items-center py-4 bg-body-tertiary">
      <aside th:insert="layouts/sidebar"></aside>
       <div class="container">
        <h1>Órdenes</h1>
        <table class="table" th:if="${orders}">
            <thead>
                <tr>
                    <th>Número de Orden</th>
                    <th>Cliente</th>
                    <th>Productos Registrados</th>
                    <th>Costo Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí empieza el bucle para mostrar las órdenes -->
                <tr th:each="orden : ${orders}">
                    <td th:text="${orden.id}"></td>
                    <td th:text="${orden.customer.name}"></td>
                    <td>
                        <ul>
                            <li th:each="producto : ${orden.products}" th:text="${producto.nombre}"></li>
                        </ul>
                    </td>
                    <td th:text="${orden.totalCost}"></td>
                    <td th:text="${orden.description}"></td>
                </tr>
                <!-- Aquí termina el bucle -->
            </tbody>
        </table>
        <div class="row" th:unless="${orders}">
            <div class="col">
                <p>No existen órdenes.</p>
            </div>
        </div>
    </div>

    <a href="/dash/orders/add" class="btn btn-primary btn-lg position-fixed top-0 end-0 mt-3 me-3">Añadir Orden</a>
    </section>
  </body>
</html>
