<!DOCTYPE html>
<html lang="en" xmins:th="http://www.thymeleaf.org">
<head th:insert="layouts/head"/>
<body>
<section class="d-flex vh-100 align-items-center py-4 bg-body-tertiary">
    <aside th:insert="layouts/sidebar"></aside>
    <main class="container mt-5">
    <h1>Añadir cliente</h1>
    <form method="post" th:action="@{/api/customers/add}" th:object="${user}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombre" th:field="*{name}" name="nombre" required>
            <label for="nombre">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="correo" name="correo" th:field="*{email}" required>
            <label for="correo">Correo electrónico</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="telefono" name="telefono" th:field="*{phoneNumber}" maxlength="11" pattern="[0-9]{11}" required>
            <label for="telefono">Número de teléfono</label>
            <small class="form-text text-muted">Ingrese un número de teléfono de 11 dígitos.</small>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </main>
</section>
</body>
</html>