<!DOCTYPE html>
<html lang="en" xmins:th="http://www.thymeleaf.org">
  <head th:insert="layouts/head" />
  <body>
    <header th:insert="layouts/header"></header>
    <section class="d-flex vh-100 align-items-center py-4 bg-body-tertiary">
      <main class="form-signin m-auto">
        <img src="static/logo.svg" alt="TodoTech Logo" />
        <h1 class="h3 mb-10 fw-normal">Log in</h1>
        <p th:each="url : ${urls}">
          <a th:text="${url.key}" th:href="${url.value}">Client</a>
        </p>
      </main>
    </section>
  </body>
</html>
